@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
	--green: #519677;
	--brown: #7C654F;
	--lightgreen: #eff5ed;
	--black: #33323B;
}

* {
	box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--black);
  overflow-x: hidden;
  margin: 0;
}

.container {
  background-color: var(--lightgreen);
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: transform 0.3s;
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: var(--green);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background-color: transparent;
  border: 0;
  font-size: 26px;
  color: var(--lightgreen);
}

.circle button:focus {
  outline: 0;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: var(--lightgreen);
  margin: 40px 0;
  transform: translateX(-200%);
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 15px;
}

nav ul li + li + li {
  margin-left: 30px;
}

.content img {
  max-width: 100%;
}

.content {
  max-width: 1000px;
  margin: 50px auto;
  color: var(--black);
}

.content h1 {
  margin: 0;
}

.content small {
  font-style: italic;
}

.content p {
  line-height: 1.5;
}



